body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #45CC19;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100%25 100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2347c026'/%3E%3Cstop offset='0.02' stop-color='%2345CC19'/%3E%3Cstop offset='0.02' stop-color='%23a0ce9a'/%3E%3Cstop offset='0.032' stop-color='%2345CC19'/%3E%3Cstop offset='0.032' stop-color='%23acd6a7'/%3E%3Cstop offset='0.056' stop-color='%2345CC19'/%3E%3Cstop offset='0.056' stop-color='%23b2e2ac'/%3E%3Cstop offset='0.07' stop-color='%2345CC19'/%3E%3Cstop offset='0.07' stop-color='%2394d08b'/%3E%3Cstop offset='0.1' stop-color='%2345CC19'/%3E%3Cstop offset='0.1' stop-color='%234dba33'/%3E%3Cstop offset='0.126' stop-color='%2345CC19'/%3E%3Cstop offset='0.126' stop-color='%23f2f8f1'/%3E%3Cstop offset='0.142' stop-color='%2345CC19'/%3E%3Cstop offset='0.142' stop-color='%235fcf48'/%3E%3Cstop offset='0.159' stop-color='%2345CC19'/%3E%3Cstop offset='0.159' stop-color='%2392a890'/%3E%3Cstop offset='0.17' stop-color='%2345CC19'/%3E%3Cstop offset='0.17' stop-color='%23afb6ae'/%3E%3Cstop offset='0.197' stop-color='%2345CC19'/%3E%3Cstop offset='0.197' stop-color='%23879485'/%3E%3Cstop offset='0.218' stop-color='%2345CC19'/%3E%3Cstop offset='0.218' stop-color='%23ddeeda'/%3E%3Cstop offset='0.239' stop-color='%2345CC19'/%3E%3Cstop offset='0.239' stop-color='%2397b294'/%3E%3Cstop offset='0.254' stop-color='%2345CC19'/%3E%3Cstop offset='0.254' stop-color='%2396b791'/%3E%3Cstop offset='0.283' stop-color='%2345CC19'/%3E%3Cstop offset='0.283' stop-color='%2370c063'/%3E%3Cstop offset='0.294' stop-color='%2345CC19'/%3E%3Cstop offset='0.294' stop-color='%2393ce8a'/%3E%3Cstop offset='0.305' stop-color='%2345CC19'/%3E%3Cstop offset='0.305' stop-color='%238cd981'/%3E%3Cstop offset='0.332' stop-color='%2345CC19'/%3E%3Cstop offset='0.332' stop-color='%23c4d6c2'/%3E%3Cstop offset='0.346' stop-color='%2345CC19'/%3E%3Cstop offset='0.346' stop-color='%234f6d4b'/%3E%3Cstop offset='0.362' stop-color='%2345CC19'/%3E%3Cstop offset='0.362' stop-color='%23478b3a'/%3E%3Cstop offset='0.381' stop-color='%2345CC19'/%3E%3Cstop offset='0.381' stop-color='%2376af6e'/%3E%3Cstop offset='0.415' stop-color='%2345CC19'/%3E%3Cstop offset='0.415' stop-color='%2374d464'/%3E%3Cstop offset='0.428' stop-color='%2345CC19'/%3E%3Cstop offset='0.428' stop-color='%2395bf90'/%3E%3Cstop offset='0.442' stop-color='%2345CC19'/%3E%3Cstop offset='0.442' stop-color='%23cbd3ca'/%3E%3Cstop offset='0.456' stop-color='%2345CC19'/%3E%3Cstop offset='0.456' stop-color='%2354be3d'/%3E%3Cstop offset='0.498' stop-color='%2345CC19'/%3E%3Cstop offset='0.498' stop-color='%23a2b2a1'/%3E%3Cstop offset='0.511' stop-color='%2345CC19'/%3E%3Cstop offset='0.511' stop-color='%236cc95c'/%3E%3Cstop offset='0.532' stop-color='%2345CC19'/%3E%3Cstop offset='0.532' stop-color='%2346cc1d'/%3E%3Cstop offset='0.541' stop-color='%2345CC19'/%3E%3Cstop offset='0.541' stop-color='%2385d07a'/%3E%3Cstop offset='0.56' stop-color='%2345CC19'/%3E%3Cstop offset='0.56' stop-color='%23bbd3b8'/%3E%3Cstop offset='0.581' stop-color='%2345CC19'/%3E%3Cstop offset='0.581' stop-color='%2395c68f'/%3E%3Cstop offset='0.6' stop-color='%2345CC19'/%3E%3Cstop offset='0.6' stop-color='%23c2ccc1'/%3E%3Cstop offset='0.618' stop-color='%2345CC19'/%3E%3Cstop offset='0.618' stop-color='%23b4bfb2'/%3E%3Cstop offset='0.656' stop-color='%2345CC19'/%3E%3Cstop offset='0.656' stop-color='%2377cd69'/%3E%3Cstop offset='0.679' stop-color='%2345CC19'/%3E%3Cstop offset='0.679' stop-color='%2387a683'/%3E%3Cstop offset='0.689' stop-color='%2345CC19'/%3E%3Cstop offset='0.689' stop-color='%2371d261'/%3E%3Cstop offset='0.720' stop-color='%2345CC19'/%3E%3Cstop offset='0.720' stop-color='%234cc62d'/%3E%3Cstop offset='0.734' stop-color='%2345CC19'/%3E%3Cstop offset='0.734' stop-color='%2375ca67'/%3E%3Cstop offset='0.748' stop-color='%2345CC19'/%3E%3Cstop offset='0.748' stop-color='%23d0e6cd'/%3E%3Cstop offset='0.764' stop-color='%2345CC19'/%3E%3Cstop offset='0.764' stop-color='%2372c964'/%3E%3Cstop offset='0.788' stop-color='%2345CC19'/%3E%3Cstop offset='0.788' stop-color='%2347cc1f'/%3E%3Cstop offset='0.808' stop-color='%2345CC19'/%3E%3Cstop offset='0.808' stop-color='%234ba139'/%3E%3Cstop offset='0.831' stop-color='%2345CC19'/%3E%3Cstop offset='0.831' stop-color='%236fcd5e'/%3E%3Cstop offset='0.856' stop-color='%2345CC19'/%3E%3Cstop offset='0.856' stop-color='%23808080'/%3E%3Cstop offset='0.872' stop-color='%2345CC19'/%3E%3Cstop offset='0.872' stop-color='%2354ce38'/%3E%3Cstop offset='0.894' stop-color='%2345CC19'/%3E%3Cstop offset='0.894' stop-color='%2373cc64'/%3E%3Cstop offset='0.914' stop-color='%2345CC19'/%3E%3Cstop offset='0.914' stop-color='%23c1cebf'/%3E%3Cstop offset='0.942' stop-color='%2345CC19'/%3E%3Cstop offset='0.942' stop-color='%2380bd78'/%3E%3Cstop offset='0.957' stop-color='%2345CC19'/%3E%3Cstop offset='0.957' stop-color='%2379d26a'/%3E%3Cstop offset='0.973' stop-color='%2345CC19'/%3E%3Cstop offset='0.973' stop-color='%23f6f7f6'/%3E%3Cstop offset='1' stop-color='%2345CC19'/%3E%3Cstop offset='1' stop-color='%235dc24a'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' x='0' y='0' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: #FFF33F;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23FFEE33' stroke-width='0' %3E%3Crect fill='%23FFEE33' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: white;
  color: #000000;
  border-top: 1px dashed #000000;
  text-align: center;
  vertical-align: middle;
}

.past {
  background-color: #45CC19
  ;
  color: #000000;
}

.present {
  background-color: #ff6961;
  color: #000000;
}

.future {
  background-color: #ffee33;
  color: #000000;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
